@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login-background{
  min-height: 100vh;
  width: 100%;

  background-image: url("./images/login/login-background.jpg");
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  background-color: rgba(24, 26, 28, 0.84);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 16px;
  gap: 25px;
  height: auto;
  width: 30vw;
}

.login-title{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

.login-title img{
  height: clamp(1.5rem, 5vw, 3.5rem);
  width: clamp(1.5rem, 5vw, 3.5rem);
}

.login-title p{
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  color: white;
  margin: 0;
}

.login-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.login-heading h1{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin: 0;
  font-size: clamp(0.8rem, 2.7vw, 3rem);
}

.login-heading p{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin: 0;
  font-size: clamp(0.5rem, 1vw, 2rem);
}

.username-id {
  border-radius: 24px;
  border: solid 1px #E7E3FC3B;
  background-color: rgba(24, 26, 28, 0.84);
  align-items: center;
  justify-content: center;
  color:#ffffff;
  padding: 8px;
  width:auto;
}

.username-form {
  display: flex;
  flex-direction: column;
  color:#ffffff;
  gap: 5px;
}

.username-container label {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.username-id::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.input-wrapper {
  border-radius: 24px;
  border: solid 1px #E7E3FC3B;
  background-color: rgba(24, 26, 28, 0.84);
  align-items: center;
  justify-content: center;
  color:#ffffff;
  padding: 8px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.input-wrapper:focus-within {
  border: 1px solid white;
}

.password-id{
  border: 0px solid black;
  background-color: rgba(24, 26, 28, 0.84);
  width: 80%;
  color:#ffffff;
}

.password-id:focus {
  outline: none;
}
.password-form {
  display: flex;
  flex-direction: column;
  color:#ffffff;
  gap: 5px;
}



.password-container label {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.password-id::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.auth-links{
  display: flex;
  justify-content: space-between;
}

.auth-links p {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.masuk-button, .google-button {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.masuk-button{
  background-color: #3D4142;
  color: #ffffff;
  border: 1px solid rgba(231, 227, 252, 0.23);
  border-radius: 24px;
  padding: 14px;
}

.google-button {
  background-color: rgba(231, 227, 252, 0);
  border: 1px solid #E7E3FC3B;
  border-radius: 24px;
  padding: 14px;
  color: #ffffff;

  display: flex;
  align-items: center;     /* vertical alignment */
  justify-content: center; /* horizontal centering */
  gap: 8px; 
}

