@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.londrina-solid-regular {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(24, 26, 28, 1);
}

.login-background {
  min-height: 100vh;
  width: 100%;
  background-image: url("./images/login/login-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgba(24, 26, 28, 0.84);
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 16px;
  gap: 25px;
  height: auto;
  width: clamp(280px, 30vw, 100%);
}

.login-title {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

.login-title img {
  height: clamp(2.5rem, 4.3vw + 1rem, 3.688rem);
  width: clamp(2.5rem, 4.3vw + 1rem, 3.688rem);
}

.login-title p {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.5rem, 4.3vw + 1rem, 3.688rem);
  color: white;
  margin: 0;
}

.login-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.login-heading h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin: 0;
  font-size: clamp(1.3rem, 1.5vw + 0.5rem, 3rem);
}

.login-heading p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  margin: 0;
  font-size: clamp(0.4rem, 0.5vw + 0.5rem, 1.25rem);
}

.username-id {
  border-radius: 24px;
  border: solid 1px #E7E3FC3B;
  background-color: rgba(24, 26, 28, 0.84);
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 8px;
  width: auto;
}

.username-form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 5px;
}

.username-container label {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.username-id::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.input-wrapper {
  border-radius: 24px;
  border: solid 1px #E7E3FC3B;
  background-color: rgba(24, 26, 28, 0.84);
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 8px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.input-wrapper:focus-within {
  border: 1px solid white;
}

.password-id {
  border: 0px solid black;
  background-color: rgba(24, 26, 28, 0.84);
  width: 80%;
  color: #ffffff;
  height: auto;
}

.password-id:focus {
  outline: none;
}

.password-form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 5px;
}

.password-container label {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.password-id::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.auth-links {
  display: flex;
  justify-content: space-between;
}

.auth-links p {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.7rem;
}

a {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.7rem;
  text-decoration: none;
}

.masuk-button,
.google-button {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.7rem;
}

.masuk-button {
  background-color: #3D4142;
  color: #ffffff;
  border: 1px solid rgba(231, 227, 252, 0.23);
  border-radius: 24px;
  padding: 10px;
}

.google-button {
  background-color: rgba(231, 227, 252, 0);
  border: 1px solid #E7E3FC3B;
  border-radius: 24px;
  padding: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.divider {
  color: rgba(157, 158, 161, 1);
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 0.7rem;
}

.navbar {
  display: flex;
  align-items: center;

  height: clamp(56px, 6.5vw, 94px);

  padding: 
    clamp(6px, 2vw, 25px)
    clamp(20px, 5.5vw, 80px);

  gap: clamp(12px, 5vw, 80px);

  justify-content: space-between;
}

.navbar-menu {
  display: flex;
  align-items: center;
  height: clamp(56px, 6.5vw, 94px);
  padding: clamp(6px, 2vw, 25px) clamp(20px, 5.5vw, 80px);
  gap: clamp(12px, 5vw, 80px);
}

.navbar-menu p {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: medium;
  cursor: pointer;
  font-size: clamp(
    10px,
    calc(10px + (8 * (100vw - 360px) / 1080)),
    18px
  );
}

.navbar-menu p:hover {
  color: rgba(50, 84, 255, 1);
}

.navbar-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.navbar-title img {
  display: flex;
  align-items: center;
  gap: clamp(4px, 1vw, 8px);

  width: clamp(20px, 2.5vw, 29.55px);
  height: clamp(26px, 4vw, 44px);
}

.navbar-title h1 {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: clamp(20px, 2.5vw, 29.55px);
  line-height: 1;
}

@media (max-width: 450px) {
  .navbar-title h1 {
    display: none;
  }
}

.profile-menu {
  display: flex;
  align-items: center;
  width: clamp(40px, 5vw, 76px);
  height: clamp(20px, 2.8vw, 40px);
  gap: clamp(4px, 1vw, 8px);
  position: relative;
}

.profile-menu img {
  width: clamp(20px, 2.8vw, 40px);
  height: clamp(20px, 2.8vw, 40px);
}

.profile-menu ul {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  margin: 0;
  list-style: none;
  padding: 8px 0;
  background-color: rgba(24, 26, 28, 1);
  border-radius: 8px;
  display: none;
}

.profile-menu a {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 0.7rem;
  font-size: clamp(
    10px,
    calc(10px + (8 * (100vw - 360px) / 1080)),
    18px
);
}
.profile-menu ul li a:hover {
  color: rgba(50, 84, 255, 1);
}

.drop-btn {
  cursor: pointer;
  width: clamp(16px, 1.9vw, 28px);
  height: clamp(16px, 1.9vw, 28px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-btn:hover img {
  filter: brightness(0) saturate(100%) invert(42%) sepia(87%)
    saturate(5600%) hue-rotate(215deg);
}

#menu-toggle:checked ~ ul {
  display: block;
}
